@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

/* .title-dreams h3{
    font-size: 20pt;
}

.size-font {
    font-size: 17pt;
} */

.icon-logout {
    width: 20px;
    height: 20px;
}