@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

.nav-logo {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
}

.nav-logo img {
    width: 100%;
}

.icon-logout {
    width: 20px;
    height: 20px;
}