@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

body {
    font-family: 'Caveat', cursive;
}

.container-dest {
    display: inline-block;
}

.card-dest {
    text-align: center;
    display: inline-block;
    border: 1px solid darkcyan;
    border-radius: 5px;
}

.card-dest img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 2/1;
}