/* @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap'); */

body {
  /* background-image: url('https://i.pinimg.com/originals/a1/c5/27/a1c52787046b742e804fbc18b1ffd165.jpg'); */
  /* background-image: url('https://wallpaperaccess.com/full/166556.jpg'); */
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
    to right bottom,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  ); */
}

.container-destinations {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.div-carousel {
  width: 100%;
}

.carousel-control-next,
.carousel-control-prev {
  height: 100%;
}

.carousel-control-prev {
  background: darkcyan !important;
  width: 20px !important;
  border-radius: 5px 0px 0px 5px;
}

.carousel-control-next {
  background: darkcyan !important;
  width: 20px !important;
  border-radius: 0px 5px 5px 0px;
}

.carousel-indicators {
  display: none !important;
}

.container-slide {
  /* background: rgb(255, 192, 239); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid black;
  border-radius: 5px;
}

.card_location {
  max-width: 250px;
  min-width: 250px;
  margin-inline: 10px;
  background: rgb(255, 255, 255);
  border: 4px solid rgba(255, 183, 0, 0.749);
  border-radius: 5px;
  margin-block: 10px;
}

.card_location img {
  width: 100%;
  border-radius: 0px 0px 5px 5px;
  object-fit: cover;
  aspect-ratio: 2/1;
}

.card_location h2 {
  color: black;
}

.summer_destinations,
.winter_destinations,
.all_season_destinations {
  width: 90%;
  text-align: center;
  margin-block: 10px;
}

.information {
  width: 90%;
}

.information h5 {
  border-bottom: 2px solid rgb(254, 144, 47);
}

.img-area img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 2/1;
  border-radius: 2px;
  border: 3px solid rgba(255, 183, 0, 0.749);
}

.text-area {
  background: white;
  border-radius: 5px;
  border: 3px solid rgba(255, 183, 0, 0.749);
}

.title {
  width: 50%;
  border-radius: 5px;
  color: wheat;
}
