/* @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

body {
    font-family: 'Caveat', cursive;
} */

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    to right bottom,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.card-container {
  width: 90%;
}

.card-dest {
  max-width: 280px;
  min-width: 150px;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  background: white;
}

.card-dest img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 2/1;
}

.search-bar h6 {
  color: white;
}

.search-bar input {
  border-radius: 5px;
}

.no-destination {
  color: white;
}

.spinner-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spin {
  width: 300px;
  height: 300px;
}