body p {
    font-size: 13pt;
}

.text {
    background: white;
    padding: 5px;
    margin-inline: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.container-detail img {
    border-radius: 5px;
    border: 1px solid black;
}

.images-location img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 2/1;
}

.title_reviews {
    width: 80%;
}

.container-reviews {
    width: 80%;
    margin-block: 40px;
}

.card-review {
    background: white;
    border: 1px solid black;
    width: 250px;
    padding: 5px;
    border-radius: 5px;
}

